@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

h1{
  font-size: 2.5rem;
}
  
h2{
  @apply text-blue-500 text-3xl font-bold;
}

.mission-log{
    border-radius: 25px;
    border-width: 3px;
    @apply border-blue-500;
    margin: 30px auto;
    padding: 40px;
    height: 70vh;
    width: 80%;
    color:black;
    height: calc(60vh);
  }
